<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.aix.common.datacommon.db.dao.PikaiTimelineContentMapper" >
  <resultMap id="BaseResultMap" type="com.platform.aix.common.datacommon.db.domain.PikaiTimelineContent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content_uid" property="contentUid" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="img_id" property="imgId" jdbcType="OTHER" />
    <result column="video_id" property="videoId" jdbcType="OTHER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, content, tag, user_id, img_id, video_id, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.platform.aix.common.datacommon.db.domain.PikaiTimelineContentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_pikai_timeline_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_pikai_timeline_content
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_pikai_timeline_content
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.platform.aix.common.datacommon.db.domain.PikaiTimelineContentExample" >
    delete from t_pikai_timeline_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <!--在 PostgreSQL 中，当主键被定义为 GENERATED ALWAYS AS IDENTITY 时，数据库会强制自动生成主键值，不允许手动插入。-->
  <insert id="insert" parameterType="com.platform.aix.common.datacommon.db.domain.PikaiTimelineContent" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into t_pikai_timeline_content (title, content,
      tag, user_id, img_id, video_id, 
      create_time, update_time)
    values ( #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
      #{tag,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{imgId,jdbcType=OTHER}, #{videoId,jdbcType=OTHER}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.platform.aix.common.datacommon.db.domain.PikaiTimelineContent" >
    insert into t_pikai_timeline_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="imgId != null" >
        img_id,
      </if>
      <if test="videoId != null" >
        video_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="imgId != null" >
        #{imgId,jdbcType=OTHER},
      </if>
      <if test="videoId != null" >
        #{videoId,jdbcType=OTHER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.platform.aix.common.datacommon.db.domain.PikaiTimelineContentExample" resultType="java.lang.Integer" >
    select count(*) from t_pikai_timeline_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_pikai_timeline_content
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.tag != null" >
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.imgId != null" >
        img_id = #{record.imgId,jdbcType=OTHER},
      </if>
      <if test="record.videoId != null" >
        video_id = #{record.videoId,jdbcType=OTHER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_pikai_timeline_content
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      img_id = #{record.imgId,jdbcType=OTHER},
      video_id = #{record.videoId,jdbcType=OTHER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.platform.aix.common.datacommon.db.domain.PikaiTimelineContent" >
    update t_pikai_timeline_content
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="imgId != null" >
        img_id = #{imgId,jdbcType=OTHER},
      </if>
      <if test="videoId != null" >
        video_id = #{videoId,jdbcType=OTHER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platform.aix.common.datacommon.db.domain.PikaiTimelineContent" >
    update t_pikai_timeline_content
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      img_id = #{imgId,jdbcType=OTHER},
      video_id = #{videoId,jdbcType=OTHER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id ="updateOrInsertSelective" parameterType="com.platform.aix.common.datacommon.db.domain.PikaiTimelineContent" >
    <selectKey keyProperty="count" resultType="int" order="BEFORE">
      select count(1) from t_pikai_timeline_content where content_uid = #{contentUid,jdbcType=VARCHAR}
    </selectKey>
    <if test="count > 0">
      <include refid="updateSql"/>
    </if>
    <if test="count == 0">
      <include refid="insertSql"/>
    </if>
  </insert>
  <sql id="updateSql">
    update t_pikai_timeline_content
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      img_id = #{imgId,jdbcType=OTHER},
      video_id = #{videoId,jdbcType=OTHER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where content_uid = #{contentUid,jdbcType=VARCHAR}
  </sql>
  <sql id="insertSql">
    insert into t_pikai_timeline_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="contentUid != null" >
        content_uid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="imgId != null" >
        img_id,
      </if>
      <if test="videoId != null" >
        video_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contentUid != null" >
        #{contentUid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="imgId != null" >
        #{imgId,jdbcType=OTHER},
      </if>
      <if test="videoId != null" >
        #{videoId,jdbcType=OTHER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </sql>
</mapper>